target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### IDE files ###
.idea
*.iws
*.iml
*.ipr
.classpath
.project
.settings/

### Environment Variables ###
.env
.env.local
